body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* new code */
h3, p {
  margin: 0px;
}


header {
  background: rgb(54,198,244);
  background: linear-gradient(90deg, rgba(54,198,244,1) 0%, rgba(135,254,201,1) 100%);
  padding: 20px 0px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.header-wrap img {
  width: 50px;
  margin-right: 10px;
}


/* meme section */

* {
  margin: 0px;
  box-sizing: border-box;
}

section {
  width: 500px;
  border: 1px solid blue;
  padding: 10px;
}

.top {
  border: 1px solid green;
}

.top div {
  display: flex;
  justify-content: space-between;
}

input {
  width: 45%;
}

button {
  background: rgb(54,198,244);
  background: linear-gradient(90deg, rgba(54,198,244,1) 0%, rgba(135,254,201,1) 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 1s;
  color: white;
  width: 100%;
}

button:hover {
  background: rgb(54,198,244);
  background: linear-gradient(90deg, rgb(47, 171, 212) 0%, rgb(106, 201, 158) 100%);
  cursor: pointer;
  
}

.meme-img p {
  width: 300px;
  border: 1px solid red;
  height: 300px;
}
