body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* new code */
h3, p {
  margin: 0px;
}


header {
  background: rgb(54,198,244);
  background: linear-gradient(90deg, rgba(54,198,244,1) 0%, rgba(135,254,201,1) 100%);
  padding: 20px 0px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.header-wrap img {
  width: 50px;
  margin-right: 10px;
}


/* meme section */

.app-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app {
  width: 1040px;
  border: 1px solid black;
  /* min-height: 70vh; */
  max-height: fit-content;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.meme-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrap {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  background: rgb(54,198,244);
  background: linear-gradient(90deg, rgba(54,198,244,1) 0%, rgba(135,254,201,1) 100%);
}

button:hover {
  background: rgb(54,198,244);
  background: linear-gradient(90deg, rgb(47, 178, 221) 0%, rgb(112, 214, 168) 100%);
}

.inputs {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputs div {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  /* width: 100%; */
  width: 90%;
}

.meme-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.meme-img img {
  overflow: hidden;
  max-width: 1040px;
}


/* code i wrote over */

.image-wrap {
  position: relative;
  display: flex;
  height: inherit;
  justify-content: center;
}

.image-wrap img {
  height: 100%;
  position: absolute;
}

.text-wrap {
  height: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.text-wrap p {
  background-color: black;
  font-family: serif;
  color: white;
  padding: 7px;
  margin: 3px 0px;
  font-size: 30px;
}







@media (max-width: 1040px) {
  .app {
    width: 100%;
  } 
}